<div ng-controller="ArticleEditCtrl">

	<form ng-submit="updateArticle()">
		<legend>Edit Article</legend>

		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" ng-model="article.title" name="title" placeholder="Enter Title">
		</div>
		<div class="form-group">
			<label for="category">Category</label>
			<select class="form-control" ng-model="article.category" name="category" placeholder="Enter Category">
				<option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="body">Body Text</label>
			<textarea type="text" class="form-control" ng-model="article.body" name="body" placeholder="Enter Body Text"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Update</button>
		<a href="#!/categories" class="btn btn-danger">Cancel</a>
	</form>
</div>